<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/comhead :: common_header(~{::title})">
  <title>메인설계중</title>
</head>

<!--이거 3줄은 공통! -->
<body class="bodyCustom">
<div class="parents">
  <header th:replace="fragments/com/header"/>


  <!-- CONTENTS BEGIN -->
  <div id="sub_contents" class="my_main head_mg mb140">
    <div class="navi">
      <div class="top_navi"><a href="/member/mypage"><img src="/images/_img/cont/navi_arrow.png"></a><h2>비밀번호 변경</h2></div>
    </div>
    <div class="w_box no_line">
      <ul class="form">
        <li>
          <p class="input_t">현재 비밀번호를 입력해주세요.</p>
          <p class="password">
            <input type="password" id="pwOld" placeholder="현재 비밀번호"/>
          </p>
        </li>
        <li>
          <p class="input_t">새 비밀번호를 입력해주세요.</p>
          <div class="input_box">
            <p class="password">
              <input type="password" id="pw1" class="pw" placeholder="새 비밀번호"/>
              <input type="password" id="pw2" class="pw" placeholder="새 비밀번호 확인"/>
            </p>
            <p class="feedback Y" style="display: none;"><span>!</span>사용 가능합니다.</p>
            <p class="feedback N" style="display: none;"><span>!</span>비밀번호가 일치하지 않습니다.</p>
          </div>
        </li>
      </ul>
      <p class="btn mt35">
        <a href="#" onclick="newPassWord();">변경</a>
      </p>
    </div>
  </div>
  <!-- CONTENTS END -->

  <div class="m-44"></div>

  <div th:replace="fragments/com/bottom" /></div>

</div>
</body>
</html>
