<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/comhead :: common_header(~{::title})">
  <title>메인설계중</title>
</head>

<!--이거 3줄은 공통! -->
<body class="bodyCustom">
<div class="parents">
  <header th:replace="fragments/com/header"/>


  <!-- CONTENTS BEGIN -->
    <div id="sub_contents" class="my_main head_mg mb140">
      <div class="navi">
        <div class="top_navi"><a href="/member/mypage"><img src="/images/_img/cont/navi_arrow.png"></a><h2>비밀번호 변경</h2></div>
      </div>
      <div class="w_box no_line">
        <form action="" th:action th:object="${signupDto}" method="post">
        <ul class="form">
          <li>
            <p class="input_t">현재 비밀번호를 입력해주세요.</p>
            <p class="password">
              <input type="password" th:field="*{pastPw}" required="" placeholder="현재 비밀번호"/>
            <div class="field-error" th:errors="*{pastPw}"/>
            </p>
          </li>
          <li>
            <p class="input_t">새 비밀번호를 입력해주세요.</p>
            <div class="input_box">
              <p class="password">
                <input type="password" th:field="*{password}" required="" class="pw" placeholder="새 비밀번호"/>
                <input type="password" th:field="*{validPw}" required="" class="pw" placeholder="새 비밀번호 확인"/>
              <div class="field-error" th:errors="*{validPw}"/>
              </p>
            </div>
          </li>
        </ul>
        <p class="btn mt35">
          <button class="change-btn" type="submit">변경</button>
        </p>
        </form>
      </div>

      </div>
  <!-- CONTENTS END -->

  <div class="m-44"></div>

  <div th:replace="fragments/com/bottom" /></div>

</div>
</body>
</html>
