<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/comhead :: common_header(~{::title})">
    <title>그룹페이지</title>
</head>
<!--이거 3줄은 공통! -->
<body class="bodyCustom group-body">
<div class="parents">
    <header th:replace="fragments/com/header"/>

    <!--콘텐츠 시작-->
    <div id="sub_contents" class="w-full group-one">

        <div class="flex relative">
            <a class="w-2.5 m-4" th:href="@{/groups}"><img src="/images/_img/cont/navi_arrow.png"></a>
            <div class="likes group-like" th:attr="data-content-id=${group.groupId}" data-content="group" onclick="toggleLike(this)">
                <svg class="heart-icon" th:classappend="${isLikeExist} ? 'active' : ''" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 21.35l-1.45-1.32C6.14 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C16.09 3.81 17.76 3 19.5 3 22.58 3 25 5.42 25 8.5c0 3.78-4.14 6.86-8.55 11.54L12 21.35z" stroke="black" stroke-width="2"/>
                </svg>
            </div>
            <h2 class="font-base" th:text="${group.groupName}">
                그룹이름
            </h2>
        </div>

        <!-- 가입 된 유저가 아닐때 가입신청 form -->
        <form action="" th:action="@{/groups/group/joinGroup}" method="post">
            <input type="hidden" name="memberId" th:value="${memberId}">
            <input type="hidden" name="groupId" th:value="${group.groupId}">
            <button class="btn" th:if="${joinStatus eq 'no'}">가입신청</button>
            <button class="btn" th:if="${joinStatus eq 'WAIT'}">신청취소</button>
            <a th:href="@{/groups/group/member(groupId = ${group.groupId})}" class="btn" th:if="${joinStatus eq 'MANAGED'}">회원관리</a>
        </form>
        <div class="p-5">
            <div class="group-profile">
                <!-- 사진 -->
                <p class="photo gradient-border">
						<span>
                            <img class="w-full"
                                 th:src="${group.storeFileName != null} ? '/upload/' + ${group.storeFileName} : '/images/test2.gif'"
                                 th:alt="${group.groupName}">
						</span>
                </p>
                <!-- 사진 -->

                <!-- 정보 -->
                <p class="info flex flex-col items-center">
                    <span th:text="${group.boardCount}">포스트수</span>
                    <span>Posts</span>
                </p>
                <p class="info flex flex-col items-center">
                    <span th:text="${group.joinCount}">멤버수</span>
                    <span>Members</span>
                </p>
                <p class="info flex flex-col items-center">
                    <span id="like-count" th:text="${group.likeCount}">좋아요수</span>
                    <span>Likes</span>
                </p>
                <!-- 정보 -->

            </div>
        </div>


        <!-- 상단 끝 -->
        <!-- 가입된 유저만 보여야됨-->
        <div th:unless="${joinStatus eq 'WAIT' or joinStatus eq 'no'}">


            <!-- 공지사항 -->
            <div class="club_box" >
                <div class="tit_btn">
                    <p class="club_tit">공지사항</p>
                </div>

                <ul class="club_notice">
                    <li>
                        <div class="club_user">
                            <div class="fm_profile">
                                <p class="img">
                                    <img alt="공지프로필"
                                    th:src="${lastNotice != null && lastNotice.userImage != null} ? '/upload/' + ${lastNotice.userImage} : '/images/test2.gif'"
                                    >
                                </p>
                                <p class="notice-title ml8" th:text="${lastNotice != null} ? ${lastNotice.writer} : 'user'"></p>
                            </div>
                            <div class="ml5">
                                <p class="notice-title" th:text="${lastNotice != null} ? ${lastNotice.title} : '공지사항을'" }>공지사항을</p>
                                <p class="notice-text" th:text="${lastNotice != null} ? ${lastNotice.content} : '작성해보세요'">
                                    작성해보세요
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- 갤러리 -->


            <div th:if="${#lists.isEmpty(all.?[boardCategory.toString() eq 'BOARD'])}" class="empty-message font-base text-center">
                갤러리 목록이 비었습니다. 글을 등록해보세요!
            </div>
            <div class="container mx-auto my-8">
                <div class="gallery">
                    <div th:each="board : ${all}" th:if="${board.boardCategory.toString() eq 'BOARD'}" class="gallery-item"
                        th:onclick="|location.href='@{/groups/group/board(groupId=${group.groupId}, boardId= ${board.boardId})}'|">
                        <img th:src="${board.lastStoreFileName != null} ? '/upload/' + ${board.lastStoreFileName} : '/images/noImage.jpg'"
                        class="gallery-img">
                    </div>

                </div>
            </div>

            <!-- 갤러리 -->


            <div class="add-sticky">
                <a th:href="@{/groups/group/write(groupId=${group.groupId})}" class="add_btn"></a>
            </div>

        </div>

        <div th:if="${joinStatus eq 'WAIT' or joinStatus eq 'no'}">

            <div class="empty-message font-base text-center">
                클럽에 가입하고 글을 볼수있어요!
            </div>


            <div class="m-44"></div>

        </div>

        <div th:replace="fragments/com/footer"/>
        <div th:replace="fragments/com/bottom"/>
    </div>
</div>
</body>
</html>