<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/comhead :: common_header(~{::title})">
    <title>메인설계중</title>
</head>
<!--이거 3줄은 공통! -->
<body class="bodyCustom group-body">
<div class="parents">
    <header th:replace="fragments/com/header"/>

    <!--콘텐츠 시작-->
    <div id="sub_contents" class="w-full group-one">

        <div class="flex relative">
            <a class="w-2.5 m-4" th:href="@{/groups}"><img src="/images/_img/cont/navi_arrow.png"></a>
            <div class="likes group-like" th:attr="data-content-id=${group.groupId}" data-content="group" onclick="toggleLike(this)">
                <svg class="heart-icon" th:classappend="${isLikeExist} ? 'active' : ''" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 21.35l-1.45-1.32C6.14 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C16.09 3.81 17.76 3 19.5 3 22.58 3 25 5.42 25 8.5c0 3.78-4.14 6.86-8.55 11.54L12 21.35z" stroke="black" stroke-width="2"/>
                </svg>
            </div>
            <h2 class="font-base" th:text="${group.groupName}">
                그룹이름
            </h2>
        </div>

        <!-- 가입 된 유저가 아닐때 가입신청 form -->
        <form action="" th:action="@{/groups/group/joinGroup}" method="post">
            <input type="hidden" name="memberId" th:value="${memberId}">
            <input type="hidden" name="groupId" th:value="${group.groupId}">
            <button class="btn" th:if="${joinStatus eq 'no'}">가입신청</button>
            <button class="btn" th:if="${joinStatus eq 'WAIT'}">신청취소</button>
        </form>
        <div class="p-5">
            <div class="group-profile">
                <!-- 사진 -->
                <p class="photo gradient-border">
						<span>
                            <img class="w-full"
                                 th:src="@{'/images/noImage.jpg'}"
                                 th:alt="${group.groupName}">
						</span>
                </p>
                <!-- 사진 -->

                <!-- 정보 -->
                <p class="info flex flex-col items-center">
                    <span th:text="${group.boardCount}">포스트수</span>
                    <span>Posts</span>
                </p>
                <p class="info flex flex-col items-center">
                    <span th:text="${group.joinCount}">멤버수</span>
                    <span>Members</span>
                </p>
                <p class="info flex flex-col items-center">
                    <span id="like-count" th:text="${group.likeCount}">좋아요수</span>
                    <span>Likes</span>
                </p>
                <!-- 정보 -->

            </div>
        </div>


        <!-- 상단 끝 -->


        <!-- 공지사항 -->
        <div class="club_box">
            <div class="tit_btn">
                <p class="club_tit">공지사항</p>
            </div>

            <ul class="club_notice">
                <li>
                    <div class="club_user">
                        <div class="fm_profile" onclick="location.href='.html'">
                            <p class="img"><img alt="유저프로필" src="/images/test2.gif"></p>
                        </div>
                        <div>
                            <p class="user_name">유저닉네임</p>
                            <p class="club_text">
                                공지사항입니다.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- 갤러리 -->

        <div class="container mx-auto my-8">
            <div class="gallery">

                <div class="gallery-item"
                     th:onclick="|location.href='@{/groups/group/board (groupId=${1}, boardId=${2})}'|">
                    <img src="https://placekitten.com/300/300" alt="Image 1" class="gallery-img">
                </div>
                <div class="gallery-item">
                    <img src="https://placekitten.com/300/301" alt="Image 2" class="gallery-img">
                </div>
                <div class="gallery-item">
                    <img src="https://placekitten.com/301/300" alt="Image 3" class="gallery-img">
                </div>
                <!-- 추가적인 이미지들 -->

            </div>
        </div>

        <!-- 갤러리 -->


        <div class="add-sticky">
            <a th:href="@{/groups/group/write(groupId=${1})}" class="add_btn"></a>
        </div>
        <div th:replace="fragments/com/footer"/>
        <div th:replace="fragments/com/bottom"/>
    </div>
</div>
<h1 class="test text-cyan-500">안녕</h1>
</body>
</html>