<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/comhead :: common_header(~{::title})">
    <title>그룹메인</title>
</head>

<body class="bodyCustom">
<div class="parents">
    <header th:replace="fragments/com/header"/>
    <!-- 공통 파트 -->


    <!-- 검색 -->


    <div class="w-full gradient m-1 rounded-[38px]">
        <form name="schFrm" id="schFrm" method="get" autocomplete="off" action="/trade/tradeList.do">
            <div class="search w-full group-search flex flex-col">
                <p class="input_box one">
                    <input name="searchKeyword" type="text" value="" placeholder="그룹 이름으로 검색해보세요!"><a href="#"
                                                                                                      id="schButton">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path>
                    </svg>
                </a>
                </p>
            </div>
        </form>
    </div>

    <!-- 검색 끝 -->


    </h1>

    <div class="bg-gray-100 pt-3 pl-3 w-full">
        <h1 class="w-full font-title text-2xl text-center">이번주 인기 그루프</h1>

        <div class="my-club mt-2 p-1 important-height">

            <ul>
                <li class="margin-42" th:each="club, index : ${top3}"
                    th:onclick="|location.href='@{/groups/group(groupId=${club.groupId}) }'|">
                    <p class="text-2xl font-bold" th:text="${index.index + 1 + '등!'}"></p>
                    <p class="img">
                        <img th:src="${club.storeFileName != null} ? '/upload/' + ${club.storeFileName} : '/images/noImage.jpg'"
                             th:alt="${club.groupName}">
                    </p>
                    <span th:class="'important-star important-' + ${index.index + 1 == 1 ? 'gold' : (index.index + 1 == 2 ? 'silver' : 'brown')}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path
                                    d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>
                        </span>
                    <p class="list text-2xl font-bold" th:text="${club.groupName}"></p>
                </li>
            </ul>
        </div>
    </div>


    <!-- 그룹들 -->

    <!-- .deal_wrap .mydeal.vers li -->
    <div class="deal_wrap w-full">
        <ul class="mp_list mydeal vers">

            <li th:each="club, index : ${groupList}"
                th:onclick="|location.href='@{/groups/group(groupId=${club.groupId}) }'|">
                <div class="w-full">
            <span class="groups-img-box-gra">
                <p class="groups-img-box">
                    <img class="groups-img"
                         th:src="${club.storeFileName != null} ? '/upload/' + ${club.storeFileName} : '/images/noImage.jpg'"
                         th:alt="${club.groupName}">
                </p>
            </span>
                    <p class="bottom">
                <span>
                  <svg class="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"/></svg>
                  <span th:text="${club.likeCount}">10</span>
                </span>
                        <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="18px" height="18px"><path
                        d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"
                        fill="gray"/></svg>
                <span th:text="${club.joinCount}">10</span>
                </span>
                    </p>
                </div>

                <div>
                    <div>
                        <p class="font-base text-center" th:text="${club.groupName}">클럽이름</p>
                        <p class="group-info" th:text="${club.info}">
                            그룹소개
                        </p>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <!--컨텐츠 끝-->

    <div class="add-sticky">
        <a th:href="@{/groups/createGroup}" class="add_btn"></a>
    </div>

    <div th:replace="fragments/com/bottom"/>
</div>
</body>
</html>