<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/comhead :: common_header(~{::title})">
  <title>글쓰기</title>
</head>

<body class="bodyCustom">
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

<div class="parents">
  <header th:replace="fragments/com/header"/>
  <!-- 공통 파트 -->

  <!-- 컨텐츠 시작 -->
  <div id="sub_contents" class="board head_mg mb140 w-full">


    <div class="navi">
      <div class="top_navi"><a href="javascript:history.back();"><img src="/images/_img/cont/navi_arrow.png"></a>
          <h2 class="text-2xl">글쓰기</h2>
      </div>
    </div>
    <div class="bbs_write w_box top no_line">
      <form action="" th:id="frm" th:action th:object="${writeDto}" method="post" enctype="multipart/form-data">

        <label class="write-img">
          <input type="file" class="hidden" th:field="*{attachFile}" onchange="displayImage(this)" />
          <img
                  src="/images/noImage.jpg"
                  alt="no-image"
                  style="aspect-ratio:100/100;object-fit:cover"
                  id="profileImage"
                  th:field="*{attachFile}"
          />
        </label>



        <select class="write-select create-group" th:field="*{category}">
          <option th:each="category : ${categories}" th:value="${category.name()}" th:selected="${category.name() eq 'BOARD'}">
            <span th:if="${category.name() eq 'BOARD'}" th:selected="seleted">그루프 게시판</span>
            <span th:if="${category.name() eq 'NOTICE'}">공지사항</span>
          </option>
        </select>

        <input class="create-group"
               th:field="*{title}"
               type="text"
               placeholder="그루프 이름"
               th:errorclass="field-error"
               required=""
        />
        <div class="field-error" th:errors="*{title}"/>

        <textarea class="font-base-nosize text-xl"
                  type="text"
                  rows="7"
                  th:field="*{content}"
                  placeholder="내용을 입력하세요."
                  required=""
                  th:errorclass="field-error"
        >
        </textarea>
        <div class="field-error" th:errors="*{content}"/>
        <input type="hidden" th:field="*{groupId}">

      <p class="btn mt25">
<!--        <button type="button" onclick="validateAndSubmit()" class="write-btn">저장</button>-->
        <button type="submit" class="write-btn">저장</button>
      </p>

      </form>
    </div>

  </div>


  <div class="layer" id="send_Pop">
    <div class="bg"></div>
    <div class="pop-layer" id="sendPop">
      <div class="pop_cont text" id="popContOne">
        <p class="mb20 c">카테고리를 선택해주세요.</p>
        <p class="btn"><a href="#" class="cbtn">확인</a></p>
      </div>
    </div>
  </div>


  <div class="m-24"></div>

<div th:replace="fragments/com/footer" />
<div th:replace="fragments/com/bottom" />
</div>
</body>
</html>