<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${title}">common title</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/outbase.css}">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/myStyle.css}">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/myStyle02.css}">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/com/comn.css}">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/com/cont.css}">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/com/cont02.css}">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/com/default.css}">

  <script th:src="@{/js/common.js}"></script>
</head>