
/* 마이페이지 - 메인 */
.group-profile {
    display: flex;
    width: 100%;
    align-items: center;
}

.group-profile .photo {
    width: 106px;
    height: 108px;
    padding: 4px;
}


.group-profile .photo span {
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #ddd;
    overflow: hidden;
}


.group-profile .info span {
    display: block;
    color: #000;
    margin-bottom: 5px;
}
.group-profile .info {
    width: 100%;
    padding: 8px 0px 0 20px;
    box-sizing: border-box;
    font-size: 0;
    word-break: break-all;
    font-family: BMJUA;
    font-size: large;
    color: #333;
    margin-bottom: 8px
}

.group-one > div > h2 {
    font-size: 1.875rem;
    margin-top: 1rem;
    font-weight: bold;
}

.group-one .btn {
    border: 7px solid #b5c7e7;
    padding: 10.5px 14px;
    border-radius: 52px;
    color: #000;
    font-weight: normal;
    font-family: BMJUA;
    font-size: 17px;
    background: linear-gradient(to right, #fff8cc, #dcf2e9);
    text-align: center;
    width: 104px;
    float: right;
    margin: 10px;
    position: absolute;
    left: 72%;
    top: 64px;
}

.add_btn {
    display: block;
    position: sticky;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #807edd url(/images/_img/cont/w_plus.png)no-repeat 50% 50% /24px;
    margin-left: auto;
    margin-right: 20px;
}

.add-sticky {

    width: 100%;
    display: flex;
    position: sticky;
    bottom: 100px;
}



/* 갤러리 */

.gallery-container {
    overflow: hidden;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}


.gallery-item:hover img {
    transform: scale(1.1);
}


/* 글쓰기 */
.bbs_write .add_photo ul li a.close {
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #333 url('/images/_img/cont/close.png')no-repeat 50% 50% / 8px;
    position: absolute;
    top: -8px;
    right: -8px;
}


/* 상세 글 */

.post {
    border: 1px solid #ccc;
    max-width: 600px;
    background-color: #fff;
}

.post-header {
    padding: 10px;
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    flex-grow: 1;
}

.post-image {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.post-content {
    padding: 10px;
}

.likes {
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #555;
    height: 41px;
}

.heart-icon {
    width: 42px;
    height: 21px;
    margin-right: 5px;
    fill: #ffffff;
    transition: fill 0.3s;
    cursor: pointer;
}

.heart-icon.active {
    fill: red;
}

.comments {
    padding: 10px;
}

.comment {
    margin-bottom: 10px;
    display: flex;
}

.comment-form {
    display: flex;
    margin-top: 10px;
}

.comment-input {
    flex-grow: 1;
    padding: 5px;
}

.comment-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px;
    margin: 4px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

.comment-user {
    font-family: BMJUA;
    font-style: normal;
    font-size: 1.125rem;
    margin-right: 0.25rem;
    color: #3498db;
}


/* important */
.margin-42 {
    margin-left: 42px !important;
}
.important-red {
    background: red !important;
}
.important-gold {
    background: #8f00c7 !important;
}
.important-sliver {
    background: lightslategray !important;
}
.important-brown {
    background: sandybrown !important;
}
.important-height {
    height: 171px !important;
}
.good {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    background-color: #ffffff;
    padding: 10px;
}


span.important-star {
    position: absolute;
    top: 95px;
    left: 51px;
    background: #fdcf15;
    width: 29px;
    height: 29px;
    border-radius: 20px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 20px;
}

span.important-star svg {
    width: 24px;
    fill: #fff;
}

/* 닉네임 변경 버튼 */


.change-btn {
    border: 1px solid green !important;
    padding: 13.5px 15px !important;
    border-radius: 50px !important;
    color: #fff;
    font: 400 14px/14px "Poppins", "Noto Sans KR", sans-serif!important;
    background: #807edd!important;
    display: block!important;
    box-sizing: border-box!important;
    text-align: center!important;
    width: 85px!important;
    float: right!important;
    margin-left: 5px!important;

}

.mypage-imagebtn {
    border: 1px solid green;
    padding: 13.5px 15px;
    border-radius: 50px;
    color: #fff;
    font: 400 14px/14px "Poppins", "Noto Sans KR", sans-serif;
    background: #807edd;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 85px;
    float: right;
    margin: 5px;
}
.cancelBtn{
    background: white!important;
    color: black!important;
}

.create-group {
    font-family: BMJUA!important;
    font-style: normal!important;
    font-size: 1.25rem!important;
    margin-bottom: 7px;
}

.groups-img-box {
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    width: 205px;
    height: 121px;
    display: flex;
    padding: 4px;
}
.groups-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.groups-img-box-gra {
    background: linear-gradient(to bottom, lightpink, greenyellow,mediumpurple);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.write-select {
    width: 100%;
    padding: 12px 40px 12px 22px;
    border-radius: 50px;
    color: #888;
    font: 400 14px/20px "Roboto", "Noto Sans KR", sans-serif;
    transition: all .3s;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f8f8f8 url(/images/_img/cont/sel_arrow.png)no-repeat right 22px top 50%/15px;
    margin-bottom: 18px;
}

.group-body .toast-message {
    font-family: BMJUA;
    font-size: small;
    position: absolute;
    top: 10%;
    left: 40%;
    padding: 10px;
    background: rgba(253, 224, 71, 0.5);
}

.group-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20%;
    width: 100%;
}

.group-like {
    margin-top: 10px;
    font-weight: bold;
    align-items: center;
    color: #555;
    height: 41px;
}

.write-btn {
    width: 100%;
    border: 1px solid green;
    padding: 12px 22px;
    margin-bottom: 10px;
    border-radius: 50px;
    color: #fff;
    font: 400 15px/17px "Poppins", "Noto Sans KR", sans-serif;
    background: #807edd;
    display: block;
    box-sizing: border-box;
    text-align: center;
}

.write-img {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
    padding: 3px;
    width: 125px;
    height: 125px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    margin-left: 6px;
    background: linear-gradient(to bottom, lightpink, greenyellow,mediumpurple);
    display: flex;
}

.write-img > img{
    width: 100%;
    height: 100%;
}

.empty-message {
    background-color: #adf3f3;
    padding: 40px;
    font-family: BMJUA;
    border-radius: 20px;
}

.board-content .toast-message {
    font-family: BMJUA;
    font-size: small;
    position: absolute;
    top: 60%;
    left: 35%;
    padding: 10px;
    background: rgba(253, 224, 71, 0.5);
}


a.waiting::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #c4db75 url('/images/_img/cont/waiting.png')no-repeat 52% 56% / 20px;
    vertical-align: middle;
    margin-right: 10px;
}


.fm_list li p.img {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    overflow: hidden;
    background: #ddd;
    border: 1px solid #374ba8;
    /* margin-bottom: 10px; */
}

.fm_list li span.star {
    position: absolute;
    top: 32px;
    left: 36px;
    background: #1a15fd;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 16px;
}


.fm_list li span.star svg {
    width: 16px;
    fill: #fff;
}

.group-member-btn {
    display: flex;
    width: 32%;
}

.layer-btn {
    width: 100% !important;
    height: 49px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #807edd;
    padding: 13.5px 15px;
    border-radius: 50px;
    color: #fff;
    font: 400 14px/14px "Poppins", "Noto Sans KR", sans-serif;
    background: #807edd;
    box-sizing: border-box;
    text-align: center;
    float: right;
    margin: 5px;
}

.layer-text {
    text-align: center;
    font-family: BMJUA!important;
    font-size: x-large!important;
    padding: 15px;
}

.manage-btn {
    width: 54px;
    height: 42px;
    border-radius: 50px;
    color: #fff;
    font-size: 50px;
    font-family: BMJUA;
    background: #807edd;
    text-align: center;
    margin: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.member-num {
    padding: 7.5px 13px;
    border-radius: 93px;
    color: #fff;
    font-family: BMJUA;
    background: #8c87cb;
    text-align: center;
    justify-content: center;
    width: 36px;
    margin-left: 19px;
    height: 36px;
    display: flex;
    margin-top: 5px;
}

.groups-sch {
    margin: 6px 0px 8px 34px;
    width: 285px;
}

.groups-sch-select {
    width: 100%;
    padding: 12px 40px 12px 22px;
    border-radius: 50px;
    color: #888;
    transition: all .3s;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f8f8f8 url(/images/_img/cont/sel_arrow.png)no-repeat right 22px top 50%/15px;
    margin-left: 22px;
    font-family: BMJUA;
    font-style: normal;
    margin-top: 5px;
}

.groups-sort {
    font-family: BMJUA;
    font-size: medium;
    width: 100px;
    margin: 7px 15px 1px auto;
    background: #f8f8f8 url(/images/_img/cont/sel_arrow.png)no-repeat right 22px top 50%/15px;
    padding: 10px 0px 13px 22px;
    border-radius: 50px;
    color: #888;
    /* border: 1px solid #ddd; */
    height: auto;
}